.acerca-de {
    max-width: 100%;
    text-align: center;

    h1 {
        font-family: 'Bebas Neue';
        font-size: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: $color-naranja;
    }

    div {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 45px;


        h2 {
            font-family: 'Bebas Neue';
            color: $color-negro;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        img {
            object-fit: cover;
            width: 800px;
            height: 90vh;
        }
    }
}

.mision {
    @extend %flex-flex;
}

.vision {
    @extend %flex-reverse;
}

.objetivos {
    @extend %flex-flex;
}

.nuestro-sitio {
    @extend %flex-reverse;
}

@media screen and (max-width:1200px) {
    .acerca-de {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width:710px) {
    .acerca-de {
        h1 {
            font-size: 50px;
        }

    }

    .acerca-de {
        div {
            p {
                margin-left: 20px;
                margin-right: 20px;
            }

            img {
                padding-left: 20px;
                padding-right: 20px;
                width: 500px;
                height: 35vh;
            }
        }
    }


}

// .prueba {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-around;
// }
// display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-around;