.main-info {
    h1 {
        font-family: 'Bebas Neue';
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        color: $color-naranja;
        img{
            margin-left: 10px;
        }
    }

    img {
        margin-left: 13px;
        width: 3%;
    }
}

.main-info {
    div {
        margin-bottom: 35px;

        h2 {
            color: $color-naranja;
        }
    }
}

.section-info {
    margin-left: 45px;
    margin-right: 45px;

    div {
        h2 {
            color: $color-naranja;

        }

        ul {
            li {
                margin-left: 25px;
                font-size: 16px;
            }
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width:500px) {
    .main-info {
        h1 {
            font-size: 35px;
            img {
                width: 7%;
            }
        }
    }
    .section-info{
        div{
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            h2{
                img{
                    width: 9%;
                }
            }
            ul{
                li{
                    list-style: none;
                }
            }
        }
    }
}