@import url('https://fonts.googleapis.com/css2?family=Buenard&family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./base/variables";
@import "./base/mixin";
@import "./base/extends";
@import "./acercade";
@import "./contacto";
@import "./galeria";
@import "./informacion";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// PAGINA PRINCIPAL

// header / nav
.nav-container {
    @extend %flex-nav;
    background-color: $color-negro;
    width: 100%;
    height: 100px;
    color: $color-blanco;
    

    a {
        img {
            width: 12%;
            margin: 10px;
        }
    }
}

.nav-menu {

    ul {
        
         li {
            display: inline-block;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            list-style: none;

            a {
                font-size: 20px;
                text-decoration: none;
                color: $color-blanco;
                padding: 6px;
                border-radius: 3px;

                &:hover {
                    color: $color-naranja;
                }
            }


        }
    }
}

.nav-input:checked+.nav-menu {
    background-color: $color-negro;
}

.nav-img {
    width: 7%;
}

.nav-label,
.nav-input {
    display: none;
}

@media (max-width:985px) {
    .nav-label {
        display: inline;
        cursor: pointer;

        img {
            text-align: end;
            width: 5%;
        }
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: $color-negro;
        width: 100%;
        left: 0;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;

        &:hover {
            color: $color-naranja;
        }

        ul { display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            

            li {
                margin-top: 10px;
            }
        }


    }

    .nav-item {
        background-color: transparent;

        &:hover {
            color: $color-negro;
        }
    }

    .nav-input:checked+.nav-menu {
        clip-path: circle(100% at center);
    }
}


// main
.texto-h1 {
    font-size: 100px;
    font-family: 'Bebas Neue';
    color: #222;
    background-image: url(../img/casa-kame.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 90vh;
    @extend %flex-footer;
}

.texto-h2 {
    background-color: $color-naranja;
    padding: 5px;
    width: 200px;
    font-family: 'Bebas Neue';
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.img-main {
    font-family: 'Bebas Neue';
    display: grid;
    grid-template-columns: 100vh 100vh;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 440px) {
    .texto-h1 {
        font-size: 65px;
    }
}

.catalogo {
    @include flex (flex, space-evenly, center);
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;

    img {
        height: 300px;
        object-fit: cover;
    }

    div {
        a {
            text-decoration: none;
            background-color: $color-negro;
            color: $color-blanco;
            padding: 5px;
            width: 90px;
            border: none;
            border-radius: 3px;

            &:hover {
                background-color: $color-naranja;
                color: $color-blanco;
                border: none;
            }
        }
    }
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}

.noti {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    h2 {
        background-image: url(../img/casa-kame.jpg);
        font-size: 100px;
        font-family: 'Bebas Neue';
        color: $color-negro;
        background-size: cover;
        background-position: 50% 50%;
        margin-top: 100px;
        width: 100%;
        height: 25vh;
        @extend %flex-center;
    }
}

.noti {
    iframe {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 900px) {
    .catalogo {
        flex-direction: column;
        align-items: center;

        div {
            margin-bottom: 30px;
        }
    }
}

// footer
.footer {
    background-color: $color-negro;
    width: 100vw;
    height: 250px;
    @extend %flex-nav;
    padding: 0;

    ul {
        li {
            list-style: none;
            margin: 10px;
            text-align: center;

            a {
                text-decoration: none;
                color: $color-blanco;
                padding: 6px;
                border-radius: 3px;

                &:hover {
                    font-size: small;
                    color: $color-naranja
                }
            }
        }
    }
}

.footer {
    img {
        margin: 10px;
        width: 10%;
    }
}

.redes {
    margin: 10px;
    width: 25%;

    img:hover {
        width: 13%;
    }
}

@media screen and (max-width: 460) {
    .footer {
        width: 100%;
        height: 100%;

        ul {
            flex-direction: column;
            text-align: center;

            li {
                height: auto;
                text-align: center;
            }
        }
    }
}